# This file contain sample enviroment variables which is used through this project,
# after editing IT SHOULD BE RENAMED TO printer.env

# Octo settings
export OCTO_URL=""      # OctoPrint URL address
export OCTO_API_KEY=""  # OctoPrint API key
export OCTO_WS_URL=""   # OctoPrint websocket URL

# project settings, is needed only if MonkePipeline Asset Resolver is used
export PROJECTNAME=""   # project name
export PROJECTSROOT=""  # project roots
export MONKENAME=""     # user name
export PXR_PLUGINPATH_NAME=""   # asset resolver path, if you want to use regular OpenUSD resolver pelase delete this env

# OCTOPRINT
export OCTOPRINT_VENV_PATH=""   # vevn which is used for OctoPrint